h1 {
 font-family: cursive;
 color:white;
 font-size: 50px;
}

h2 {
  font-family: cursive;
  color:white;
  font-size: 30px;
}

p {
  font-weight: normal;
  font-size:1.18em;
  margin:4px;
  color:#FF9184;
}

body {
  background-color:#E36A5F;
}

.intro {
  font-family:sans-serif;
  font-weight:bold;
}
ol {
  font-size:1.4em;

}
ol>li {
  padding:0px;
  padding-top:15px;
  padding-bottom:15px;

}
li {
  color:#FF9184;
}
ul {
  list-style-type: none;
  padding-left:0px;

}

.footer {
  font-style:italic;

}

.dishes {
  font-size:1.34em;
  text-decoration: underline;
  color:#FFC1BA;

}
#content {
  width:77%;
  height:75%;
  float:left;
  background-color:#821423;
  background-image: url('../img/brick3.jpg');
  background-repeat: repeat;
  padding:2%;
}

#menu {
  position:fixed;
  display:inline;
  float:right;
  width:9%;
  background-color:#000;
  padding:2%;
  font-size:1.6em;
}

menu li {
  display:inline-block;

}

a:link {
  color:lightgreen;
}

a:visited {
  color:lightgreen;
}
